/* style.css */

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: black;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: 700;
    color: #333;
    margin-right: auto;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: 500;
    margin-left: auto;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

#wrapper {
    margin-bottom: 70px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

/* Index.html */

.pagination-card {
    height: 500px;
}

.pagination-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    padding: 20px;
    color: white;
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.post-link {
    text-decoration: none;
    color: black;
}

.page-link:focus {
    box-shadow: none;
}

.page-link {
    color: black;
    text-decoration: none;
}

.page-link:hover {
    color: black;
}

.comments-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

/* post_detail.html */

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post-meta {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post-content {
    margin-top: 20px;
}

.post-image-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
    max-height: 450px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.post-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    color: white;
}

/* new comment section */

#commentForm textarea {
    height: 100px;
    overflow-y: auto;
}

/* existing comments */

#comments_section {
    max-height: 400px; 
    overflow-y: auto;
}