/* style.css */

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: black;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: 700;
    color: #333;
    margin-right: auto;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: 500;
    margin-left: auto;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

#wrapper {
    margin-bottom: 70px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

/* Index.html */

.pagination-card {
    height: 500px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post-meta {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.pagination-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    padding: 20px;
    color: white;
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.post-link {
    text-decoration: none;
    color: black;
}

.page-link:focus {
    box-shadow: none;
}

.page-link {
    color: black;
    text-decoration: none;
}

.page-link:hover {
    color: black;
}

.comments-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

/* post_detail */

.card-img-top {
    max-height: 400px;
}

.padding{
    padding-left: 20px;
}

/* new comment section */

#commentForm textarea {
    height: 100px;
    overflow-y: auto;
}

/* existing comments */

#comments_section {
    max-height: 400px; 
    overflow-y: auto;
}

/* Search */

#search-form {
    max-width: 250px;
}

/* 404 and 500 */

.page_error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: "Arvo", serif;
}

.four_zero_four_bg h1 {
    font-size: 80px;
    text-align: center;
}

.four_zero_four_bg h3 {
    font-size: 80px;
    text-align: center;
}

.link_error {
    color: #fff;
    padding: 10px 20px;
    background: black;
    margin: 20px 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.content_box_error {
    margin-top: -50px;
    text-align: center;
}